.app {
  padding: 2rem;
  font-family: sans-serif;
}

.cards-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 250px;
  background: #000000;
}


